//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "nullStyle";
@import "Variables";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import "header";
//@import "footer";
//@import "home";
//@import "forms";
//@import "UI";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
//@import "fonts"; //ипорт локально
//@import url() - импорт ссылкой
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
	body {
		font-family: $font-family;
		color: #000;
		font-size: 14px;
		&._lock {
			overflow: hidden;
		}
	}
//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}
//---------------------------------------
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media(max-width: $md2+px) {
		max-width: 750px;
	}
	@media(max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {}
//-<Основная сетка>==================================================================
